<!--http://coderdiaries.com/2014/03/09/drag-and-drop-with-angularjs/-->
<div id="main" ng-controller="DragAndDropController">
    <div id="items">
        <div style="border-bottom: 2px solid black">
            <b>Items</b> <button ng-click="showItmesLeft()">count</button>
        </div>
        <div ng-repeat="item in items">
            <!-- usage of the Draggable directive -->
            <div dd-draggable="true" class="item" itemid="{{item.id}}">{{item.id}}. {{item.name}}</div>
        </div>
    </div>
    <!-- usage of the DropTarget directive -->
    <div id="dropbox" dd-drop-target="true">
        <div style="border-bottom: 2px solid black">
            <b>Dropbox</b> <button ng-click="showItmesDropped()">count</button>
        </div>
        <div ng-repeat="item in dropped">
            <div class="item">{{item.id}}. {{item.name}}</div>
        </div>
    </div>
</div>